
@{
    ViewBag.Title = "Certificated";
}

<div>
    <h2>ดูผลสอบ</h2>
    <form class="form-horizontal well clearfix">
        <div class="form-group">
            <label class="col-md-3 control-label">รหัสผู้เข้าสอบ</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="5DS3A14e64a3">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">เลขประจำตัวประชาชน</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="14099007xxxxx">
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-info" href="/Certificated/CertificatedDetail">&nbsp;ยืนยัน&nbsp;</a>
        </div>
    </form>
</div>


