
@{
    ViewBag.Title = "CertificatedDetail";
}

<div>
    <h2>รายละเอียดการสอบ</h2>
    <form class="form-horizontal well">
    <br />
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <label><strong>รหัสผู้เข้าสอบ :</strong></label>
                <span>5DS3A14e64a3</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <label><strong>ชื่อ :</strong></label>
                <span>นาย xxxxxxx</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <label><strong>หลักสูตร :</strong></label>
                <span>ภาค ก</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3 text-center">
                <h2>สถานะ :</h2>
            </div>
            <div class="col-md-3 text-center">
                <h2 class="text-warning"><span>ผ่าน</span></h2>
            </div>
        </div>
        <div class="input-group col-md-6 col-md-offset-3">
            <input type="text" class="form-control" value="http://www.google.com">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Copy</button>
            </span>
        </div>
    </form>
</div>


