body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.block-center{
    float:none;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.text-dark{
    color:#000000;
}
div.navbar-inverse{
    background:#555555;
    background-image:none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color:#2a2a2a !important;
}
.navbar-inverse .navbar-toggle {
    border-color:#2a2a2a !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2a2a2a;
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.wrapper {
   min-height:100%;
   position:relative;
}
.body {
   padding-top:60px;
   padding-bottom:50px;   /* Height of the footer */
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background:#555555;
   color:#fff;
   padding:5px;
}
