
@{
    ViewBag.Title = "PaymentCode";
}
<div>
    <h2>กรอกรหัสชำระเงิน</h2>
    <form class="form-horizontal well clearfix">
        <h4 class="text-danger text-center">*สำหรับการชำระเงินผ่านบัญชีธนาคาร หรือเคาท์เตอร์เซอร์วิซ 7-11 เท่านั้น</h4>
        <div class="form-group">
            <label class="col-md-3 control-label">รหัสการชำระเงิน</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="92E72C">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">เลขประจำตัวประชาชน</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="14099007xxxxx">
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-lg btn-info" href="/Register/PrintExamCard">&nbsp;ยืนยัน&nbsp;</a>
        </div>
    </form>
</div>

