
@{
    ViewBag.Title = "ConfirmByCreditCard";
}


<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress4.png" />
    </div>
</div>

@*Content*@
<div>
    <h2>ชำระด้วยบัตรเครดิต</h2>

    <form class="form-horizontal">
        <fieldset class="well">
            <legend></legend>
            @*ประเภทบัตร*@
            <div class="form-group">
                <label class="col-md-3 control-label">ประเภทบัตร</label>
                <div class="col-md-7">
                    <select class="form-control">
                        <option>VISA</option>
                        <option>Master Card</option>
                    </select>
                </div>
            </div>
            @*หมายเลขบัตร*@
            <div class="form-group">
                <label class="col-md-3 control-label">หมายเลขบัตร</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="หมายเลขบัตร">
                </div>
            </div>

            @*วันหมดอายุบัตร*@
            <div class="form-group">
                <label class="col-md-3 control-label">วันหมดอายุบัตร</label>
                <div class="col-md-7">
                    <input type="date" class="form-control">
                </div>
            </div>

            @*หมายเลข CVV*@
            <div class="form-group">
                <label class="col-md-3 control-label">หมายเลข CVV (3 ตัวอักษร)</label>
                <div class="col-md-7">
                    <input type="number" class="form-control" placeholder="000">
                </div>
            </div>

            @*ชื่อบนบัตร*@
            <div class="form-group">
                <label class="col-md-3 control-label">ชื่อบนบัตร</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" placeholder="ชื่อบนบัตร">
                </div>
            </div>

            @*ประเทศธนาคารผู้ออกบัตร*@
            <div class="form-group">
                <label class="col-md-3 control-label">ประเทศธนาคารผู้ออกบัตร</label>
                <div class="col-md-7">
                    <select class="col-md-7 form-control">
                        <option>Thailand</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>

    @*ถัดไป*@
    <div class="clearfix">
        <a class="btn btn-lg btn-info pull-left" href="/Register/Payment"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
        <a class="btn btn-lg btn-info pull-right" href="/Register/PrintExamCard">ยืนยันการชำระเงิน <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>

