
@{
    ViewBag.Title = "HowToPay";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<h2 class="text-center">วิธีชำระเงินผ่านเคาน์เตอร์เซอร์วิส หรือ โอนผ่านบัญชีธนาคาร</h2>

<div class="form-horizontal">
    <fieldset class="well">
        <div class="col-md-offset-1">
            <h3 class="text-warning">วิธีที่ 1 ยืนยันการชำระโดยกรอกรหัสที่หน้า "ยืนยันชำระเงิน"</h3>
            <div class="row">
                <div class="col-md-10">
                    <p>1.กดปุ่ม "พิมพ์ใบชำระเงิน" เพื่อทำการพิมพ์ใบชำระเงิน</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay1_1.png" />
                    <p>2.นำใบชำระเงินไปชำระที่เคาน์เตอร์เซอร์วิส หรือ ธนาคาร</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay1_2.png" />
                    <p>3.นำรหัสจากใบเสร็จมากรอกที่ช่อง "กรอกรหัสใบเสร็จ"</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay1_3.png" />
                    <p>4.กดปุ่ม "ยืนยัน"</p>
                    <p>5.เมื่อยืนยันสำเร็จระบบจะไปที่หน้า "พิมพ์บัตรเข้าสอบ"</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPayCompleted.png" />
                </div>
            </div>           
        </div>
        <br />
        <div class="col-md-offset-1">
            <h3 class="text-warning">วิธีที่ 2 ยืนยันการชำระที่เมนู "กรอกรหัสชำระเงิน"</h3>
            <div class="row">
                <div class="col-md-10">
                    <p>1.กดปุ่ม "พิมพ์ใบชำระเงิน" เพื่อทำการพิมพ์ใบชำระเงิน</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay1_1.png" />
                    <p>2.นำใบชำระเงินไปชำระที่เคาน์เตอร์เซอร์วิส หรือ ธนาคาร</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay1_2.png" />
                    <p>3.ที่เมนูด้านบนคลิ๊กที่เมนู "กรอกรหัสชำระเงิน"</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay2_1.png" />
                    <p>4.นำรหัสจากใบเสร็จมากรอกที่ช่อง "รหัสการชำระเงิน"</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay2_2.png" />
                    <p>5.กรอกเลขประจำตัวประชาชน 13 หลัก ที่ช่อง "เลขประจำตัวประชาชน</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPay2_3.png" />
                    <p>6.กดปุ่ม "ยืนยัน"</p>
                    <p>7.เมื่อยืนยันสำเร็จระบบจะไปที่หน้า "พิมพ์บัตรเข้าสอบ"</p>
                    <img class="img-responsive" src="~/Asset/images/HowToPayCompleted.png" />
                </div>
            </div>           
        </div>
    </fieldset>
</div>
