
@{
    ViewBag.Title = "หน้าแรก";
}

@*Image*@
<div class="row">
    <br />
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive" src="~/Asset/images/Progress1.png" />
    </div>
</div>


@*Content*@
<div>
    <h2>เลือกวันสอบ</h2>

    <form class="form-horizontal">
        <fieldset class="well">
            <legend></legend>
            @*Calendar*@
            <div class="col-md-4">
                <div class="row">
                    <div>
                        <h4>เลือกวันสอบ</h4>
                        <input type="date" class="form-control" />
                    </div>
                </div>
            </div>

            @*Input content*@
            <div class="col-md-6 col-md-offset-2">
                @*สถานที่สอบ*@
                <div class="row">
                    <h4>สถานที่สอบ</h4>
                    <select class="form-control">
                        <option selected="selected">สำนักงาน กรุงเทพฯ</option>
                    </select>
                </div>

                @*หลักสูตร*@
                <div class="row">
                    <h4>หลักสูตร</h4>
                    <select class="form-control">
                        <option selected="selected">ภาค ก</option>
                    </select>
                </div>

                @*รอบการสอบ*@
                <div class="row">
                    <h4>รอบการสอบ</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" checked>
                            เช้า (9.00 - 12.00 น)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios">
                            บ่าย (13.00 - 16.00 น)
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    @*ถัดไป*@
    <div class="clearfix">
        <a class="btn btn-lg btn-info pull-right" href="/Register/PersonalDetail">ถัดไป <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>
