
@{
    ViewBag.Title = "หน้าแรก";
}

<div class="container">
    <h2>สมัครสอบ</h2>
    <div class="col-lg-6">
        <input type="date" />
    </div>
    <div class="col-lg-6">
        @*สถานที่สอบ*@
        <div class="row">
            <h4>สถานที่สอบ</h4>
            <select class="form-control" disabled="disabled">
                <option selected="selected">สำนักงาน กรุงเทพฯ</option>
            </select>
        </div>

        @*หลักสูตร*@
        <div class="row">
            <h4>หลักสูตร</h4>
            <select class="form-control" disabled="disabled">
                <option selected="selected">ภาค ก</option>
            </select>
        </div>

        @*รอบการสอบ*@
        <div class="row">
            <h4>รอบการสอบ</h4>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" checked>
                    เช้า (9.00 - 12.00 น)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios">
                    บ่าย (13.00 - 16.00 น)
                </label>
            </div>
        </div>

        @*ถัดไป*@
        <div class="row">
            <a class="col-lg-6 btn btn-success btn-lg" href="PersonalDetail">ถัดไป</a>
        </div>
    </div>
</div>