
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="container">
    <form class="form-horizontal">
        <fieldset class="well">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <img class="col-xs-12" src="~/Asset/images/barcode.png" height="100" />
                    <h3>68462035465</h3>
                </div>

            </div>

            @*เลขที่ใบเสร็จ*@
            <div class="form-group">
                <label class="col-md-3 control-label">เลขที่ใบเสร็จ (Invoice No.)</label>
                <div class="col-md-7">
                    <h4 class="text-dark">394683332</h4>
                </div>
            </div>

            @*ชื่อผู้สมัคร*@
            <div class="form-group">
                <label class="col-md-3 control-label">ชื่อผู้สมัคร (Payer)</label>
                <div class="col-md-7">
                    <h4 class="text-dark">นายณรงค์ ฟางน้อย</h4>
                </div>
            </div>

            @*วันที่สมัคร*@
            <div class="form-group">
                <label class="col-md-3 control-label">วันที่สมัคร (Transation date)</label>
                <div class="col-md-7">
                    <h4 class="text-dark">20/1/2016  10.45</h4>
                </div>
            </div>

            @*กำหนดชำระ*@
            <div class="form-group">
                <label class="col-md-3 control-label">กำหนดชำระ (Expired date)</label>
                <div class="col-md-7">
                    <h4 class="text-dark">20/1/2016  16.45</h4>
                </div>
            </div>

            @*จำนวนเงินที่ชำระ*@
            <div class="form-group">
                <h3 class="col-md-3 control-label">จำนวนเงินที่ชำระ (Amounts)</h3>
                <h1 class="col-md-7 text-danger">300.00 บาท/Baht</h1>
            </div>

            @*กำหนดชำระ*@
            <div class="form-group text-center">
                <label class="control-label">ไม่รวมค่าธรรมเนียมของเคาเตอร์เซอวิส</label><br />
                <label class="control-label">(Excluding service fees at Counter Service)</label>
            </div>

        </fieldset>
    </form>
</div>
