
@{
    ViewBag.Title = "ชำระเงิน";
}

@*Image*@
<div>
    <br />
    <img class="img-responsive" src="~/Asset/images/Progress3.png" />
</div>

@*Content*@
<div>
    <h2>ชำระเงิน</h2>

    <form class="form-horizontal">
        <fieldset class="well">
            <legend></legend>

            @*โอนเงินผ่านบัญชีธนาคาร*@
            <div class="form-group">
                <div class="col-xs-offset-2 radio">
                    <label>
                        <input type="radio" name="optionPayment" checked>
                        โอนเงินผ่านบัญชีธนาคาร
                    </label>
                </div>
            </div>

            @*เค้าเตอร์เซอร์วิช 7-11*@
            <div class="form-group">
                <div class="col-xs-offset-2 radio">
                    <label>
                        <input type="radio" name="optionPayment">
                        เค้าเตอร์เซอร์วิช 7-11
                    </label>
                </div>
            </div>

            @*บัตรเครดิต*@
            <div class="form-group">
                <div class="col-xs-offset-2 radio">
                    <label>
                        <input type="radio" name="optionPayment">
                        บัตรเครดิต
                    </label>
                </div>
            </div>

            @*Online banking*@
            <div class="form-group">
                <div class="col-xs-offset-2 radio">
                    <label>
                        <input type="radio" name="optionPayment">
                        Online banking
                    </label>
                </div>
            </div>
        </fieldset>
    </form>

    @*ถัดไป*@
    <div class="row">
        <a class="btn btn-lg btn-success pull-left" href="/Register/PersonalDetail"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
        <a class="btn btn-lg btn-success pull-right" href="/Register/ConfirmByBank">ถัดไป <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>