
@{
    ViewBag.Title = "ข้อมูลผู้สมัคร";
}

@*Image*@
<div>
    <br />
    <img class="img-responsive" src="~/Asset/images/Progress2.png" />
</div>

@*Content*@
<div class="container">
    <h2>ข้อมูลผู้สมัคร</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">ชื่อนามสกุล</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="ชื่อนามสกุล">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">เลขประจำตัวประชาชน</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="เลขประจำตัวประชาชน">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">ที่อยู่ปัจจุบัน</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="ที่อยู่">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">เบอร์โทร</label>
            <div class="col-md-7">
                <input type="tel" class="form-control" placeholder="0000000000">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">อีเมลล์</label>
            <div class="col-md-7">
                <input type="email" class="form-control" placeholder="example@email.com">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">วันเกิด</label>
            <div class="col-md-7">
                <input type="date" class="form-control" placeholder="วันเกิด">
            </div>
        </div>
    </form>

    @*ถัดไป*@
    <div class="row">
        <a class="btn btn-lg btn-success pull-left" href="/Register/Index"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> ย้อนกลับ</a>
        <a class="btn btn-lg btn-success pull-right" href="/Register/Payment">ถัดไป <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>

