@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>การสอบเพื่อวัดความรู้ความสามารถทั่วไป</h2>
  </div>

<div class="row">
    <div class="col-lg-4 text-center">
        <a class="btn btn-lg btn-info" href="/Register/Index">สมัครสอบ</a>
    </div>
    <div class="col-lg-4 text-center">
        <a class="btn btn-lg btn-info" href="/PaymentCode/PaymentCode">กรอกรหัสชำระเงิน</a>
    </div>
    <div class="col-lg-4 text-center">
        <a class="btn btn-lg btn-info" href="/Certificated/Certificated">ดูผลสอบ</a>
    </div>
</div>