@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive" src="~/Asset/images/OCSC_Banner.jpg" />
    <br />
    <div class="row">
        <div class="col-lg-4 text-center">
            <a class="btn btn-lg btn-info" href="/Register/Index">สมัครสอบ</a>
        </div>
        <div class="col-lg-4 text-center">
            <a class="btn btn-lg btn-info" href="/PaymentCode/PaymentCode">กรอกรหัสชำระเงิน</a>
        </div>
        <div class="col-lg-4 text-center">
            <a class="btn btn-lg btn-info" href="/Certificated/Certificated">ดูผลสอบ</a>
        </div>
    </div>
</div>
